<main class="main">
  <nav class="navbar navbar-dark bg-dark d-flex px-5">
    <div class="">
      <h2 class="text-white main-title" [routerLink]="['/']">Biggrafos</h2>
    </div>

    
    <div class="container-avatar-navbar">
      <ul class="items-navbar">
        <li class="h5" [routerLink]="['/']" routerLinkActive="router-link-active" >Inicio</li>
        <li class="h5" [routerLink]="['/graph']" routerLinkActive="router-link-active" >Grafos</li>
      </ul>
      <h5>Davo</h5>

      <div class="avatar">
        D
      </div>
    </div>
  </nav>
</main>
